
<div class="body">
  <div class="card form-card">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 >Applicant Form</h2>
  
      <label for="name">Enter Your Name:</label>
      <input id="name" type="text" formControlName="name" placeholder="Your Name" />
      <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
        <small class="error">Name is required.</small>
      </div>
  
      <label for="email">Enter Your Email ID:</label>
      <input id="email" type="email" formControlName="email" placeholder="Your Email" />
      <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
        <small *ngIf="form.controls['email'].errors?.['required']"  class="error">Email is required.</small>
        <small *ngIf="form.controls['email'].errors?.['email']"  class="error">Enter a valid email address.</small>
      </div>
      <small style="color: white;">(This email will be used for future communication)</small>
  
      <label for="mobile">Enter 10-Digit Mobile No.:</label>
      <input id="mobile" type="text" formControlName="mobile" placeholder="Your Mobile Number" />
      <div *ngIf="form.controls['mobile'].invalid && form.controls['mobile'].touched">
        <small *ngIf="form.controls['mobile'].errors?.['required']"  class="error">Mobile number is required.</small>
        <small *ngIf="form.controls['mobile'].errors?.['pattern']" class="error">Enter a valid 10-digit mobile number.</small>
      </div>
  
      <label for="resume">Upload Your Resume:</label>
      <input
        id="resume"
        type="file"
        formControlName="resume"
        (change)="onFileChange($event)"
        accept=".pdf,.txt,.doc,.docx"
      />
      <div *ngIf="resumeError">
        <small class="error">{{ resumeError }}</small>
      </div>
    
      <button type="submit" class="button-primary" [disabled]="form.invalid || resumeError">Submit</button>
    </form>
  </div>
</div>
